body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/img/3.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: #bbada0;
    padding: 10px;
    border-radius: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Verdana', sans-serif;
    color: #776e65;
    background-color: #cdc1b4;
    border-radius: 5px;
    user-select: none;
}